# SPDX-FileCopyrightText: 2025 Daniel Maier, Daniel Mohr, Thomas Villatte
#
# SPDX-License-Identifier: GPL-3.0-or-later

variables:
  DEBIAN_FRONTEND: noninteractive
  APT_GET_INSTALL: "apt-get install --no-install-recommends -q -y"

stages:
  - pre
  - build_test
  - create_release
  - deploy

.display_env:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: on_success
  before_script:
    - date
    - uname -a
    - cat /etc/os-release

.alpine_based-build_test-pipx:
  stage: build_test
  extends: .display_env
  before_script:
    - !reference [.display_env, before_script]
    - apk add --no-cache pipx
    - export PATH="$PATH":~/.local/bin
    - pipx install .
  script:
    - novespace_stream_data_receiver > /dev/null 2> /dev/null &
    - pid="$!"
    - echo "$pid"
    - sleep 1
    - novespace_stream_data_emulator
    - sleep 1
    - kill "$pid"
    - ls -lah ./*.csv
    - plaidatafilename="$(mktemp)"
    - tail -n +1 ./*.csv | sed '1d; s/[^;]*;//' > "$plaidatafilename"
    - diff "$plaidatafilename" src/novespace_stream_data/data/example_data.csv

.debian_based-build_test-pipx:
  stage: build_test
  extends: .display_env
  before_script:
    - !reference [.display_env, before_script]
    - apt-get update
    - $APT_GET_INSTALL pipx
    - export PATH="$PATH":~/.local/bin
    - pipx install .
  script:
    - !reference [.alpine_based-build_test-pipx, script]

.debian_based-build_test-pip:
  stage: build_test
  extends: .display_env
  before_script:
    - !reference [.display_env, before_script]
    - apt-get update
    - $APT_GET_INSTALL python3-pip
    - export PATH="$PATH":~/.local/bin
    - pip3 install --user --break-system-packages .
  script:
    - !reference [.alpine_based-build_test-pipx, script]

.almalinux_based-build_test-pip:
  stage: build_test
  extends: .display_env
  before_script:
    - !reference [.display_env, before_script]
    - yum -y install diffutils pip
    - export PATH="$PATH":~/.local/bin
    - pip3 install --user .
  script:
    - !reference [.alpine_based-build_test-pipx, script]

.opensuse-leap_based-build_test-pipx:
  stage: build_test
  extends: .display_env
  before_script:
    - !reference [.display_env, before_script]
    - zypper --non-interactive install python312-pipx
    - export PATH="$PATH":~/.local/bin
    - pipx install .
  script:
    - !reference [.alpine_based-build_test-pipx, script]

pre-commit:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache git npm pre-commit
    - pre-commit --version
    - pre-commit run --all-files --show-diff-on-failure
    - pre-commit autoupdate --jobs 0
    - git diff .pre-commit-config.yaml

pycodestyle:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache py3-pycodestyle
    - pycodestyle --version
    - pycodestyle --show-source --show-pep8 --statistics --verbose .

pylint:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache py3-pylint python3-tkinter
    - pylint --version
    - find . -name '*.py' -print0 | xargs -0 pylint

ruff:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache ruff
    - ruff check --unsafe-fixes --diff || echo "!!! todo !!!"
    - ruff check --output-format=full
    - ruff check --select NPY201 --fix --diff || echo "!!! todo !!!"
    - ruff check --select NPY201 --output-format=full

alpine-latest-pipx:
  image:
    name: alpine:latest
  extends: .alpine_based-build_test-pipx

debian-latest-pipx:
  image:
    name: debian:latest
  extends: .debian_based-build_test-pipx
  script:
    - !reference [.debian_based-build_test-pipx, script]
    - echo "TAG=$(grep -Po '^version\s*=\s*\"\K[^\"]+' pyproject.toml)" > variables.env
    - cat variables.env
  artifacts:
    reports:
      dotenv: variables.env

debian-latest-arm64-pipx:
  image:
    name: debian:latest
  tags:
    - aarch64
  extends: .debian_based-build_test-pipx

debian-latest-pip:
  image:
    name: debian:latest
  extends: .debian_based-build_test-pip

debian-latest-arm64-pip:
  image:
    name: debian:latest
  tags:
    - aarch64
  extends: .debian_based-build_test-pip

debian-latest-i386-pipx:
  image:
    name: i386/debian:latest
  extends: .debian_based-build_test-pipx

almalinux-latest-pip:
  image:
    name: almalinux:latest
  extends: .almalinux_based-build_test-pip

almalinux-latest-arm64-pip:
  image:
    name: almalinux:latest
  tags:
    - aarch64
  extends: .almalinux_based-build_test-pip

opensuse-leap-latest-pipx:
  image:
    name: opensuse/leap:latest
  extends: .opensuse-leap_based-build_test-pipx

opensuse-leap-latest-arm64-pipx:
  image:
    name: opensuse/leap:latest
  tags:
    - aarch64
  extends: .opensuse-leap_based-build_test-pipx

ubuntu-latest-pipx:
  image:
    name: ubuntu:latest
  extends: .debian_based-build_test-pipx

release_job:
  stage: create_release
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_SERVER_HOST == "gitlab.com"
  image:
    # https://docs.gitlab.com/ee/user/project/releases/release_cicd_examples.html#create-release-metadata-in-a-custom-script
    registry.gitlab.com/gitlab-org/release-cli:latest
  extends: .display_env
  script:
    - echo "running release_job for $TAG"
    - wget "https://zenodo.org/badge/DOI/10.5281/zenodo.17986132.svg"
  release:
    name: 'novespace_stream_data v$TAG'
    description: '$DESCRIPTION'
    tag_name: '$TAG'
    ref: '$CI_COMMIT_SHA'
  artifacts:
    paths:
      - "zenodo.17986132.svg"

create_artifacts:
  stage: deploy
  image:
    name: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - date
    - apk add --no-cache pipx
    - export PATH="$PATH":"$HOME/.local/bin"
    - pipx install anybadge
    - anybadge -l "home" -v novespace_stream_data -f home.svg -c darkblue -o
    - anybadge -l "mirror" -v novespace_stream_data -f mirror.svg -c brown -o
    # - wget "https://zenodo.org/badge/DOI/10.5281/zenodo.17986132.svg"
  artifacts:
    paths:
      - home.svg
      - mirror.svg
      - "zenodo.17986132.svg"

trigger_deploy2zenodo:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_SERVER_HOST == "gitlab.com"
  variables:
    TAG: $TAG
    TAG_COMMIT_SHA: $CI_COMMIT_SHA
    TAG_COMMIT_TIMESTAMP: $CI_COMMIT_TIMESTAMP
  trigger:
    project: daniel_mohr/deploy_novespace_stream_data_to_zenodo
    strategy: depend
    forward:
      yaml_variables: true
      pipeline_variables: false
