# SPDX-FileCopyrightText: 2025 Daniel Maier, Daniel Mohr, Thomas Villatte
#
# SPDX-License-Identifier: GPL-3.0-or-later

stages:
  - pre
  - build_test
  - create_release
  - deploy

.display_env:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: on_success
  before_script:
    - date
    - uname -a
    - cat /etc/os-release

pre-commit:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache git npm pre-commit
    - pre-commit --version
    - pre-commit run --all-files --show-diff-on-failure
    - pre-commit autoupdate --jobs $((($(nproc) * 3 + 2 - 1)/2))
    - git diff .pre-commit-config.yaml

pycodestyle:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache py3-pycodestyle
    - pycodestyle --version
    - pycodestyle --show-source --show-pep8 --statistics --verbose .

pylint:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache py3-pylint python3-tkinter
    - pylint --version
    - find . -name '*.py' -print0 | xargs -0 pylint

ruff:
  stage: pre
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache ruff
    - ruff check --unsafe-fixes --diff || echo "!!! todo !!!"
    - ruff check --output-format=full
    - ruff check --select NPY201 --fix --diff || echo "!!! todo !!!"
    - ruff check --select NPY201 --output-format=full

alpine-latest-pipx:
  stage: build_test
  image:
    name: alpine:latest
  extends: .display_env
  script:
    - apk add --no-cache pipx
    - pipx install .
    - export PATH="$PATH":~/.local/bin
    - (novespace_stream_data_receiver > /dev/null 2> /dev/null)&
    - pid="$!"
    - echo "$pid"
    - novespace_stream_data_emulator
    - kill "$pid"
    - ls -lah ./*.csv
    - plaidatafilename="$(mktemp)"
    - tail -n +1 ./*.csv | sed '1d; s/[^;]*;//' > "$plaidatafilename"
    - diff "$plaidatafilename" src/novespace_stream_data/data/example_data.csv

debian-latest-pipx:
  stage: build_test
  image:
    name: debian:latest
  variables:
    APT_GET_INSTALL: "apt-get install --no-install-recommends -q -y"
  extends: .display_env
  script:
    - $APT_GET_INSTALL pipx
    - pipx install .
    - export PATH="$PATH":~/.local/bin
    - (novespace_stream_data_receiver > /dev/null 2> /dev/null)&
    - pid="$!"
    - echo "$pid"
    - novespace_stream_data_emulator
    - kill "$pid"
    - ls -lah ./*.csv
    - plaidatafilename="$(mktemp)"
    - tail -n +1 ./*.csv | sed '1d; s/[^;]*;//' > "$plaidatafilename"
    - diff "$plaidatafilename" src/novespace_stream_data/data/example_data.csv
