# SPDX-FileCopyrightText: 2025 Daniel Maier, Daniel Mohr, Thomas Villatte
#
# SPDX-License-Identifier: GPL-3.0-or-later

[MASTER]

# Use multiple processes to speed up Pylint.
jobs=0
verbose=yes

# Pickle collected data for later comparisons.
persistent=yes

# Minimum Python version to use for version dependent checks. Will default to
# the version used to run pylint.
py-version=3.10

[REPORTS]

# Tells whether to display a full report or only the messages
reports=yes

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis). It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=cv2

[BASIC]

# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes

[DESIGN]

# Maximum number of arguments for function / method.
max-args=10
